@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dff3ff; /* azul cielo */
  --foreground: #0f172a; /* texto oscuro */
}

.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f9fafb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Scrollbar opcional */
* {
  scrollbar-width: thin;
  scrollbar-color: #93c5fd transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
}
