@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dff3ff;
  --foreground: #0f172a;
}

.dark {
  --background: #020617;
  --foreground: #f9fafb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}